.chat-main



  .main-header
    .header-leftbox
      %h2.current-group
        text
      %ul.member-list
        Member :
        %li.member-first
          test
          
    .chat__main__header__edit-button
      = link_to "Edit", edit_group_path(params[:group_id]), method: :get
        


  .messages
    = render @messages



  .form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'form__message', placeholder: 'type a message'
      .form__mask
        = f.label :image, class: 'form__mask__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form__submit'