.chat-main



  .main-header
    .header-leftbox
      %h2.current-group
        text
      %ul.member-list
        Member :
        %li.member-first
          test
    = link_to "#" do
      .edit-btn
        Edit


  .messages
    = render @messages

  .messages
    .message-top
      %h2.message-group
        yamada
      %ul.message-list
        2020/04/28(tuesday)17:00
    .message-center
      %h2.message-first
        おはよう！
    .message-under
      %h2.message-under__first
        yamada
      %ul.message-under__list
        2020/04/28(tuesday)18:00
    .message-following
      %h2.message-following__list
        今日の夜から雨



  .form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'form__message', placeholder: 'type a message'
      .form__mask
        = f.label :image, class: 'form__mask__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form__submit'