.chat-side
  .side-header
    .side-header__box
      %p.side-header__box__username
<<<<<<< HEAD
        = current_user.name
=======
        yamada
>>>>>>> eb46d0d75bc11fb43fb26e46bb5383d3c50cdd69
      %ul.side-header__box__menu
        %li.side-header__box__edit-user
          = link_to "#" do
            = icon('fas','edit')
        %li.side-header__box__user-group
<<<<<<< HEAD
          = link_to edit_user_path(current_user) do
            = icon('fas', 'cog', class: 'icon')
=======
          = link_to "#" do
            = icon('fas','cog')
>>>>>>> eb46d0d75bc11fb43fb26e46bb5383d3c50cdd69
  .groups
    = link_to "#", class:"group" do
      %p.group_group-name
        name
      %p.group_latest-message
        まだメッセージがありません