!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv": "Content-Type"}/
    %title ChatSpace
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
<<<<<<< HEAD
    = render 'layouts/notifications'
=======
>>>>>>> eb46d0d75bc11fb43fb26e46bb5383d3c50cdd69
    = yield
